.hero-container-img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    position: fixed;
    z-index: -2;
  }
  
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(6, 0, 0, 0.522);
    object-fit: cover;
  }
  
  .hero-container > h1 {
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin-top: 0px;
    font-weight: 700;
    
  }

  
  .hero-container > h2 {
 
    color: rgb(40, 208, 40);
    font-size: 26px;
   font-weight: 600;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 30px;
     
    }
  
    .hero-container > h2 {
      font-size: 30px;
    }
    .hero-container-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
      }
     
  }
  