body {
    font-family: sans-serif;
    background-color: #171A19;
  }

.wrapper {
    display: flex;
    height: 130vh;
    margin-top: 50px;
  }
  
  .mainsidebar,
  .sidebar {
    border: 1.5px solid rgb(42, 179, 40);
    padding: 15px;
    border-radius: 10px;
  }
  
  .mainsidebar{
    width: 60%;
    height: 120vh;
    margin-left: 32px;
    color: white;
  }
  
  .sidebar {
    color: white;
    width: 25%;
    height: 85vh;
    margin-left: 65px;
  }
  
 
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .mainsidebar-input{
    width: 75%;
    padding: 15px;
    border: none;
    border: 1px solid white;
    background-color: #171A19;
    border-radius: 3px;
    font-size: 22px;
    margin-top: 15px;
  }
  .mainsidebar-butt{
width: 23%;
padding: 15px;
border: none;
background-color: rgb(42, 179, 40);
font-size: 22px;
font-weight: 800;
border-radius: 3px;
border: 1px solid white;
margin-top: 15px;
  }
