
.contact-wrapper {
    display: flex;
    height: 110vh;
   padding: 50px;
    justify-content: space-evenly;
    background-color: #171A19;
  }
  
  .contact-mainsidebar
 {
    /* border: 1.5px solid rgb(42, 179, 40); */
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(14, 14, 14);
  }
  
  .contact-mainsidebar{
    width: 50%;
    height: 80vh;
    color: white;
  }
  
  .contact-sidebar {
    color: white;
    width: 25%;
    height: 70vh;
    margin-left: 35px;
  }
  
 
  .sidebar {
    top: 0;
  }




  .container--footer{
    display: flex;
    align-items: center;
    min-width: 100%;
    background-color: #171A19;
}

.first-h3{
    font-weight: 800;
}
.first{
    width: 50%;
    margin-top: 30px;
    
}
.second{
    width: 50%;  
    margin-top: 30px;
}

.first input{
background-color: rgb(14, 14, 14);
padding: 15px;
width: 97%;
border: none;
border: 1.5px solid rgb(42, 179, 40);

}
.second input{
background-color: rgb(14, 14, 14);
padding: 15px;
width: 97%;
border: none;
border: 1.5px solid rgb(42, 179, 40);
}
.right img{
    border-radius: 01%;
}

.first p{
    font-size: 20px;
    margin-top: 40px;
}
.second p{
    font-size: 20px;
    margin-top: 40px;
}
.third p{
    font-size: 20px;
    margin-top: 30px;
}

.third{
    width: 98.5%;
    
}
.third input{
    width: 100%;
    background-color: rgb(14, 14, 14);
    padding: 45px;
    margin-bottom: 30px;
    border: none;
    border: 1.5px solid rgb(42, 179, 40);
}

.third--button{
    width: 40%;
    padding: 8px;
    background-color: rgb(46, 135, 46);
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
}

.number1, .number2, .number3{
   padding: 15px;
   border-radius: 5px;
   box-shadow:2px 1px 7px 0px rgb(52, 127, 52);
   margin-bottom: 20px;
   display: flex;
   background-color: #070707;

}
.texts{
    
    width: 64%;
    padding: 10px;
    margin: auto;
}
.number1 h5, .number2 h5, .number3 h5{
font-weight: 800;
text-align: start;

}
.number1 h6, .number2 h6, .number3 h6{
font-size: 18px;
} 
.contact-icon{
    font-size: 50px;
    width: 25%;
    padding: 5px;
    background-color: rgb(69, 67, 67);
   margin: auto;
    box-shadow:2px 1px 7px 0px rgb(52, 127, 52);
   
}
.icon-con{
    margin-left: 10px;
    color: rgb(47, 156, 10);
}

@media (max-width: 768px){
    .container--footer{
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
    .left{
        width: 100%;
    }
    /* .first {
      flex: 1;
     margin-left: auto;
     width: 100%;
      
    } */
   
    .right img{
      max-width: 100%;
      border-radius: 0px;
      
    }
    
  }