.container--footer{
    display: flex;
    align-items: center;
    min-width: 100%;
    background-color: #171A19;
}


.first{
    width: 47%;
}
.second{
    width: 47%;  
}

.first input{
background-color: rgb(99, 99, 99);
padding: 15px;
width: 95%;
border: none;

}
.second input{
background-color: rgb(99, 99, 99);
padding: 15px;
width: 95%;
border: none;
}
.right img{
    border-radius: 01%;
}

.first p{
    font-size: 20px;
    margin-top: 40px;
}
.second p{
    font-size: 20px;
    margin-top: 40px;
}
.third p{
    font-size: 20px;
    margin-top: 30px;
}

.third{
    width: 91.5%;
}
.third input{
    width: 100%;
    background-color: rgb(99, 99, 99);
    padding: 45px;
    margin-bottom: 30px;
    border: none;
}

.third-button{
    width: 92%;
    padding: 8px;
    background-color: green;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 500;
}

@media (max-width: 768px){
    .container--footer{
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
    .left{
        width: 100%;
    }
    /* .first {
      flex: 1;
     margin-left: auto;
     width: 100%;
      
    } */
   
    .right img{
      max-width: 100%;
      border-radius: 0px;
      
    }
    
  }