.list{
    /* height: 400px; */
    background-color: rgb(43, 41, 41);
    width: 100%;
    display: flex;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 50px;
   
}
.sub--h2{
    color: white;
    background-color: rgb(43, 41, 41);
    margin-bottom: 0px;

}
.sub--p{
  align-items: flex-start;
    text-align: center;
    font-weight: 300;
  text-align: center;
  text-justify: inter-word;
  line-height: 26px;
  margin: 15px;
  padding: 0px;
}
.project{
    max-width: 40%;
    min-height: 35vh;
    text-align: center;
    flex: 1 1 100px;
    transition: 0.4s;
    margin-top: 20px;
   
  }

 